<link rel="stylesheet" href="/styles/font-awesome.min.css">

<div class="container">
    <div class="row courselist">
        <div class="example course-box col-xs-6 col-sm-4 col-md-3">
            <a href="#">
                <div class="style-box">
                    <h3 class="boxtop title"> Logic & Set Theory</h3>
                    <h6 class="code"> 2IT60 </h6>
                    <span>
                        <i class="fa fa-star fa-1x"></i>
                        <span class="rating">4.2</span>/10
                    </span>
                    <br>
                    <div class="periodlist">
                        <span class="period">
                        <i class="fa fa-clock-o fa-1x"></i>
                        Quartile: <span class="quartile"> 1 </span> Timeslot: <span class="timeslot">A</span><br>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- ROW END FOR STYLE TWO -->
    <div class="row text-center">
        <div class="col-md-12">
            <br />
            <h3>Empty Section To Work</h3>
            <br /> Crafted By : <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap.com</a>
            <br />
            <br />
        </div>
    </div>
    <!-- ROW END -->
</div>
<!-- CONATINER END -->
